* {
   box-sizing: border-box;
   /* Inserir aqui as cores mais usadas no projeto */ 
}

/* Como declarar e inserir uma cor
  --cor-fundo: #FB6B6B;
    background-color: var(--cor-fundo);
*/

body {
    font-family: 'Roboto', sans-serif;
}
