* {
   box-sizing: border-box;
   --cor-header: #C3CFD9;
   --cor-fundo: #FFFFFF;
   --cor-footer: #DFE6ED;
   --cor-laranja: #E8833A;
   --cor-texto: #293845;
   --cor-borda: #9EADBA;
   /* Inserir aqui as cores mais usadas no projeto */ 
}

/* Como declarar e inserir uma cor
  --cor-fundo: #FB6B6B;
    background-color: var(--cor-fundo);
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-fundo);
    width: 374px; 
}
