.movie {
    width: 374px;
    margin-top: 67px;
}

.movie .subheader {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie .subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-texto);
}

.movie .container {
    margin-bottom: 150px;
}

.movie .container-section {
    padding-left: 24px;
}

.movie .date {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
}

.movie .options {
    display: flex;
    align-items: center; 
    margin: 30px 0;
}

.movie .time {
    background-color: var(--cor-laranja);
    width: 83px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-right: 8px;
}

.movie .time-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.movie .footer {
    background-color: var(--cor-footer);
    width: 374px;
    height: 110px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.movie .poster-container {
    background: white;
    width: 64px;
    height: 89px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 16px;
}

.movie .footer-poster {
    width: 48px;
    height: 72px;
}

.movie .footer-title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 26px;
}
