.start {
    margin-top: 67px;
}

.start .subheader {
    width: 374px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    color: var(--cor-texto);
}

.start .poster-container {
    width: 374px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.start .image-border {
    width: 145px;
    height: 209px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
}

.start .image {
    width: 129px;
    height: 193px;
}